In [1]:
from matplotlib import pyplot
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
%matplotlib inline

## Data Load

In [2]:
train16 = pd.read_csv("train_2016_v2.csv", parse_dates=["transactiondate"])
print(train16.shape)
train16.tail()

(90275, 3)

       parcelid  logerror transactiondate
90270  10774160   -0.0356      2016-12-30
90271  12046695    0.0070      2016-12-30
90272  12995401   -0.2679      2016-12-30
90273  11402105    0.0602      2016-12-30
90274  12566293    0.4207      2016-12-30

In [3]:
property16 = pd.read_csv("properties_2016.csv")
print(property16.shape)
property16.tail()

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(2985217, 58)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
2985212,168176230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,14273630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,168040630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,168040830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,168040430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## join train & properties

In [4]:
new_train16 = train16.set_index('parcelid').join(property16.set_index('parcelid'))
new_train16.head()

,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
parcelid,,,,,,,,,,,,,,,,,,,,,
10711738,0.0276,2016-08-02,1.0,NaN,NaN,3.0,4.0,NaN,4.0,3.0,...,NaN,NaN,245180.0,567112.0,2015.0,321932.0,7219.18,NaN,NaN,6.037113e+13
10711755,-0.0182,2016-08-02,1.0,NaN,NaN,3.0,3.0,NaN,4.0,3.0,...,NaN,NaN,254691.0,459844.0,2015.0,205153.0,6901.09,NaN,NaN,6.037113e+13
10711805,-0.1009,2016-05-03,1.0,NaN,NaN,2.0,3.0,NaN,4.0,2.0,...,NaN,NaN,235114.0,384787.0,2015.0,149673.0,4876.61,NaN,NaN,6.037113e+13
10711816,-0.0121,2016-04-05,1.0,NaN,NaN,2.0,4.0,NaN,4.0,2.0,...,NaN,NaN,262309.0,437176.0,2015.0,174867.0,5560.07,NaN,NaN,6.037113e+13
10711858,-0.0481,2016-07-15,1.0,NaN,NaN,2.0,4.0,NaN,4.0,2.0,...,NaN,NaN,232037.0,382055.0,2015.0,150018.0,4878.25,NaN,NaN,6.037113e+13

In [5]:
total_prop = new_train16[["airconditioningtypeid", "heatingorsystemtypeid", "bathroomcnt", "calculatedbathnbr", "threequarterbathnbr", "fullbathcnt", "roomcnt", "bedroomcnt", "fireplacecnt", "fireplaceflag", "logerror"]]
print(total_prop.shape)
total_prop.tail()

(90275, 11)

,airconditioningtypeid,heatingorsystemtypeid,bathroomcnt,calculatedbathnbr,threequarterbathnbr,fullbathcnt,roomcnt,bedroomcnt,fireplacecnt,fireplaceflag,logerror
parcelid,,,,,,,,,,,
162960704,NaN,NaN,2.5,2.5,1.0,2.0,8.0,4.0,1.0,NaN,-0.0151
162960769,NaN,NaN,2.0,2.0,NaN,2.0,8.0,4.0,1.0,NaN,-0.0171
162960801,NaN,NaN,2.0,2.0,NaN,2.0,8.0,4.0,1.0,NaN,-0.0050
162960829,NaN,NaN,2.0,2.0,NaN,2.0,6.0,3.0,1.0,NaN,-0.0704
162960842,NaN,NaN,2.5,2.5,1.0,2.0,7.0,4.0,1.0,NaN,-0.0545

## preprocessing & fill in missing value

### hvac (ëƒ‰ë‚œë°©)

In [6]:
new_train16.loc[new_train16["heatingorsystemtypeid"] == 2.0, "airconditioningtypeid"] = 1.0
new_train16.loc[new_train16["airconditioningtypeid"] == 1.0, "heatingorsystemtypeid"] = 2.0

new_train16.loc[np.isnan(new_train16["airconditioningtypeid"]), "airconditioningtypeid"] = 0.0
new_train16.loc[np.isnan(new_train16["heatingorsystemtypeid"]), "heatingorsystemtypeid"] = 0.0
new_train16[["airconditioningtypeid", "heatingorsystemtypeid"]].isna().sum()

airconditioningtypeid    0
heatingorsystemtypeid    0
dtype: int64

### fireplace (ë²½ë‚œë¡œ)

In [7]:
new_train16["fireplaceflag"] = new_train16["fireplaceflag"].astype(float) # True/False -> 1.0/0.0

In [8]:
new_train16.loc[~np.isnan(new_train16["fireplacecnt"]), "fireplacecnt"] = 1.0
new_train16.loc[~np.isnan(new_train16["fireplaceflag"]) , "fireplaceflag"] = 1.0
new_train16.loc[np.isnan(new_train16["fireplacecnt"]), "fireplacecnt"] = 0.0
new_train16.loc[np.isnan(new_train16["fireplaceflag"]), "fireplaceflag"] = 0.0

new_train16[["fireplacecnt", "fireplaceflag"]].isna().sum()

fireplacecnt     0
fireplaceflag    0
dtype: int64

### room & bath & bed (ë°©, í™”ìž¥ì‹¤, ì¹¨ì‹¤)

In [9]:
ls = new_train16[np.isnan(new_train16["fullbathcnt"])]["bathroomcnt"]
new_train16.loc[np.isnan(new_train16["fullbathcnt"]), "fullbathcnt"] = ls

new_train16[np.isnan(new_train16["fullbathcnt"])]

Empty DataFrame
Columns: [logerror, transactiondate, airconditioningtypeid, architecturalstyletypeid, basementsqft, bathroomcnt, bedroomcnt, buildingclasstypeid, buildingqualitytypeid, calculatedbathnbr, decktypeid, finishedfloor1squarefeet, calculatedfinishedsquarefeet, finishedsquarefeet12, finishedsquarefeet13, finishedsquarefeet15, finishedsquarefeet50, finishedsquarefeet6, fips, fireplacecnt, fullbathcnt, garagecarcnt, garagetotalsqft, hashottuborspa, heatingorsystemtypeid, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, pooltypeid10, pooltypeid2, pooltypeid7, propertycountylandusecode, propertylandusetypeid, propertyzoningdesc, rawcensustractandblock, regionidcity, regionidcounty, regionidneighborhood, regionidzip, roomcnt, storytypeid, threequarterbathnbr, typeconstructiontypeid, unitcnt, yardbuildingsqft17, yardbuildingsqft26, yearbuilt, numberofstories, fireplaceflag, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt, taxamount, taxdelinquencyflag, taxdelinquencyyear, censustractandblock]
Index: []

[0 rows x 59 columns]

In [10]:
new_train16["threequarterbathnbr"].value_counts()

1.0    11912
2.0       90
3.0        6
4.0        1
Name: threequarterbathnbr, dtype: int64

In [11]:
new_train16.loc[np.isnan(new_train16["threequarterbathnbr"]), "threequarterbathnbr"] = 1.0
new_train16[np.isnan(new_train16["threequarterbathnbr"])]

Empty DataFrame
Columns: [logerror, transactiondate, airconditioningtypeid, architecturalstyletypeid, basementsqft, bathroomcnt, bedroomcnt, buildingclasstypeid, buildingqualitytypeid, calculatedbathnbr, decktypeid, finishedfloor1squarefeet, calculatedfinishedsquarefeet, finishedsquarefeet12, finishedsquarefeet13, finishedsquarefeet15, finishedsquarefeet50, finishedsquarefeet6, fips, fireplacecnt, fullbathcnt, garagecarcnt, garagetotalsqft, hashottuborspa, heatingorsystemtypeid, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, pooltypeid10, pooltypeid2, pooltypeid7, propertycountylandusecode, propertylandusetypeid, propertyzoningdesc, rawcensustractandblock, regionidcity, regionidcounty, regionidneighborhood, regionidzip, roomcnt, storytypeid, threequarterbathnbr, typeconstructiontypeid, unitcnt, yardbuildingsqft17, yardbuildingsqft26, yearbuilt, numberofstories, fireplaceflag, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt, taxamount, taxdelinquencyflag, taxdelinquencyyear, censustractandblock]
Index: []

[0 rows x 59 columns]

## OLS Modeling

### Basic

In [12]:
dfX0 = new_train16[["airconditioningtypeid", "heatingorsystemtypeid", "bathroomcnt", "threequarterbathnbr", "fullbathcnt", "roomcnt", "bedroomcnt", "fireplacecnt", "fireplaceflag"]]
dfX = sm.add_constant(dfX0)
dfy = new_train16[["logerror"]]
df = pd.concat([dfX, dfy], axis=1)

In [13]:
model = sm.OLS(dfy, dfX)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               logerror   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     10.52
Date:                Tue, 03 Jul 2018   Prob (F-statistic):           1.87e-16
Time:                        16:20:57   Log-Likelihood:                 36783.
No. Observations:               90275   AIC:                        -7.355e+04
Df Residuals:                   90265   BIC:                        -7.345e+04
Df Model:                           9
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    -0.0390      0.015     -2.627      0.009      -0.068      -0.010
airconditioningtypeid     0.0002      0.000      0.733      0.464      -0.000       0.001
heatingorsystemtypeid    -0.0005      0.000     -2.686      0.007      -0.001      -0.000
bathroomcnt               0.0003      0.003      0.077      0.939      -0.006       0.007
threequarterbathnbr       0.0400      0.015      2.695      0.007       0.011       0.069
fullbathcnt               0.0024      0.003      0.693      0.489      -0.004       0.009
roomcnt                7.114e-05      0.000      0.267      0.790      -0.000       0.001
bedroomcnt                0.0018      0.001      2.921      0.003       0.001       0.003
fireplacecnt             -0.0004      0.002     -0.191      0.848      -0.005       0.004
fireplaceflag             0.0066      0.011      0.605      0.545      -0.015       0.028
==============================================================================
Omnibus:                    66244.423   Durbin-Watson:                   1.927
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         64936832.265
Skew:                           2.174   Prob(JB):                         0.00
Kurtosis:                     134.320   Cond. No.                         224.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Category & Scale
- fireplace 0/1 (ìžˆë‹¤ /ì—†ë‹¤ ì²˜ë¦¬)

In [14]:
model2 = sm.OLS.from_formula("logerror ~ C(airconditioningtypeid) + C(heatingorsystemtypeid) + scale(bathroomcnt) + scale(threequarterbathnbr) + scale(fullbathcnt)\
                             + scale(roomcnt) + scale(bedroomcnt) +  fireplacecnt + fireplaceflag", data=df)
result2 = model2.fit()
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               logerror   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     4.262
Date:                Tue, 03 Jul 2018   Prob (F-statistic):           1.24e-11
Time:                        16:21:01   Log-Likelihood:                 36787.
No. Observations:               90275   AIC:                        -7.352e+04
Df Residuals:                   90250   BIC:                        -7.329e+04
Df Model:                          24
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Intercept                            0.0111      0.001      9.241      0.000       0.009       0.013
C(airconditioningtypeid)[T.1.0]   9.394e+08   4.71e+09      0.199      0.842    -8.3e+09    1.02e+10
C(airconditioningtypeid)[T.3.0]      0.1023      0.165      0.619      0.536      -0.222       0.427
C(airconditioningtypeid)[T.5.0]      0.0105      0.015      0.705      0.481      -0.019       0.040
C(airconditioningtypeid)[T.11.0]     0.0167      0.023      0.726      0.468      -0.028       0.062
C(airconditioningtypeid)[T.13.0]     0.0010      0.004      0.260      0.795      -0.007       0.009
C(heatingorsystemtypeid)[T.1.0]      0.0072      0.058      0.124      0.901      -0.106       0.120
C(heatingorsystemtypeid)[T.2.0]  -9.394e+08   4.71e+09     -0.199      0.842   -1.02e+10     8.3e+09
C(heatingorsystemtypeid)[T.6.0]     -0.0081      0.011     -0.723      0.470      -0.030       0.014
C(heatingorsystemtypeid)[T.7.0]     -0.0003      0.002     -0.165      0.869      -0.004       0.003
C(heatingorsystemtypeid)[T.10.0]    -0.0450      0.114     -0.393      0.694      -0.269       0.179
C(heatingorsystemtypeid)[T.11.0]    -0.0285      0.161     -0.177      0.860      -0.344       0.287
C(heatingorsystemtypeid)[T.12.0]    -0.0232      0.161     -0.144      0.886      -0.339       0.292
C(heatingorsystemtypeid)[T.13.0]    -0.0167      0.038     -0.441      0.659      -0.091       0.058
C(heatingorsystemtypeid)[T.14.0]    -0.0235      0.114     -0.206      0.836      -0.247       0.200
C(heatingorsystemtypeid)[T.18.0]     0.0149      0.037      0.408      0.683      -0.057       0.087
C(heatingorsystemtypeid)[T.20.0]    -0.0100      0.018     -0.551      0.582      -0.046       0.026
C(heatingorsystemtypeid)[T.24.0]    -0.0208      0.006     -3.384      0.001      -0.033      -0.009
scale(bathroomcnt)                   0.0025      0.004      0.705      0.481      -0.005       0.010
scale(threequarterbathnbr)           0.0014      0.001      2.620      0.009       0.000       0.003
scale(fullbathcnt)                   0.0003      0.004      0.080      0.936      -0.007       0.007
scale(roomcnt)                       0.0011      0.001      1.265      0.206      -0.001       0.003
scale(bedroomcnt)                    0.0019      0.001      2.611      0.009       0.000       0.003
fireplacecnt                        -0.0011      0.002     -0.469      0.639      -0.006       0.003
fireplaceflag                        0.0070      0.013      0.557      0.577      -0.018       0.032
==============================================================================
Omnibus:                    66289.038   Durbin-Watson:                   1.927
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         64937847.429
Skew:                           2.177   Prob(JB):                         0.00
Kurtosis:                     134.320   Cond. No.                     2.00e+13
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.84e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

### Category & Scale
- hvac(ëƒ‰ë‚œë°©), fireplace(ë²½ë‚œë¡œ) ìžˆë‹¤/ì—†ë‹¤ ì²˜ë¦¬ (0/1)

In [15]:
new_train16.loc[~np.isnan(new_train16["airconditioningtypeid"]), "airconditioningtypeid"] = 1.0
new_train16.loc[~np.isnan(new_train16["heatingorsystemtypeid"]), "heatingorsystemtypeid"] = 1.0
new_train16.loc[np.isnan(new_train16["airconditioningtypeid"]), "airconditioningtypeid"] = 0.0
new_train16.loc[np.isnan(new_train16["heatingorsystemtypeid"]), "heatingorsystemtypeid"] = 0.0

new_train16[["airconditioningtypeid", "heatingorsystemtypeid"]].isna().sum()

airconditioningtypeid    0
heatingorsystemtypeid    0
dtype: int64

In [16]:
model3 = sm.OLS.from_formula("logerror ~ airconditioningtypeid + heatingorsystemtypeid + scale(bathroomcnt) + scale(threequarterbathnbr) + scale(fullbathcnt)\
                             + scale(roomcnt) + scale(bedroomcnt) +  fireplacecnt + fireplaceflag", data=df)
result3 = model3.fit()
print(result3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               logerror   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     10.52
Date:                Tue, 03 Jul 2018   Prob (F-statistic):           1.87e-16
Time:                        16:21:05   Log-Likelihood:                 36783.
No. Observations:               90275   AIC:                        -7.355e+04
Df Residuals:                   90265   BIC:                        -7.345e+04
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                      0.0125      0.001     15.885      0.000       0.011       0.014
airconditioningtypeid          0.0002      0.000      0.733      0.464      -0.000       0.001
heatingorsystemtypeid         -0.0005      0.000     -2.686      0.007      -0.001      -0.000
scale(bathroomcnt)             0.0003      0.003      0.077      0.939      -0.006       0.007
scale(threequarterbathnbr)     0.0015      0.001      2.695      0.007       0.000       0.003
scale(fullbathcnt)             0.0023      0.003      0.693      0.489      -0.004       0.009
scale(roomcnt)                 0.0002      0.001      0.267      0.790      -0.001       0.002
scale(bedroomcnt)              0.0021      0.001      2.921      0.003       0.001       0.004
fireplacecnt                  -0.0004      0.002     -0.191      0.848      -0.005       0.004
fireplaceflag                  0.0066      0.011      0.605      0.545      -0.015       0.028
==============================================================================
Omnibus:                    66244.423   Durbin-Watson:                   1.927
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         64936832.265
Skew:                           2.174   Prob(JB):                         0.00
Kurtosis:                     134.320   Cond. No.                         81.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.